*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
nav{
  display: flex;
  justify-content: center;
  background: #F55A5A;
  color: #fff;

}
.logo{
  width: 2.4rem;
  margin: 0.7rem;
}
.logo-title{
  font-size: 1.5rem;
  font-weight: 500;
}

/* card */
.card{

  display: flex;
  padding: 2rem;

}
.location--image{
  width:12.5rem;
  height: 17rem;
  border-radius: 10px;
  margin: 2rem;
}